.html{
    margin: 0px;
    padding: 0px;
}

.header {
    background-image: url('../assets/header1.jpg');
    background-repeat: no-repeat;
    background-size: 102svw;
    height: 100svh;
    margin: 0px;
    text-align: center;
}

h1{
    margin: 0px;
    padding: 0.5em 0px 0px;
    color: white;

    font-family: "Bebas Neue", sans-serif;
    font-size: 65px;
    font-weight: 400;
    font-style: normal;
}

.transition {
    height: 125px;
    margin: 0;
    padding-bottom: 15em;
    background-image: linear-gradient(to bottom, #1d1c1d, #282628, #4f4b4b);
}
